@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Yellowtail:400');
@import url("https://fonts.googleapis.com/css?family=Kavivanar");


* {
margin: 0;
padding: 0;
box-sizing: round-box;
}
body.bg{
font-family:  'Inconsolata', monospace;
margin: 0;
padding: 0;
overflow-x:hidden;
background-color: #96858F;
}
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
margin: 0;
padding: 0;
}
.nopadding{
margin: 0 !important;
padding: 0 !important;
}
.nopadding1 {
margin: 0 !important;
padding: 0 !important;
padding-right: 20px !important;
}
a {
text-decoration: none !important;
}
ul li {
list-style-type: none;
}
/*-------------------------------------------------------*/
/*top_bar Section----------------------------------------*/
/*-----------------------------------------------------*/
.top_section{
background: #41B3A3; 
width: 100%;
height: 70vh;
padding: 3%;
margin:0;
}
.profile_name{
padding: 2% 0;
text-align: center;
margin: 0;
}
.circle{
height: 150px;
width: 150px;
border-radius: 100%;
text-align: center;
display: block;
overflow: hidden;
margin: 0 auto;
padding: 0;
}
.circle a{
text-decoration: none;
display: block;
}
.circle a img{
width: 180px;
padding: 0;
margin: 0;
text-align: center;
}
.profile_name h1{
color: #ffffff;
padding: 25px 0;
padding-bottom: 0;
text-transform: uppercase;
font-size: 40px;
font-weight: 700;
margin-bottom: 0;
}
.profile_name p.position a{
color: rgba(255,255,255,0.7);
font-size: 16px;
text-decoration: underline;
text-transform: uppercase;
}
.profile_name p.position{
color: rgba(255,255,255,0.7);
font-size: 16px;
padding: 5px 10px;
letter-spacing: 1px;
line-height: 1.8em;
padding-top: 0;
margin-top: 0;
}
.profile_name p.intro{
color: rgba(255,255,255,0.7);
font-size: 16px;
padding: 5px 6%;
}

.profile_name h6{
font-family: 'Yellowtail', cursive;
color: #ffffff;
padding-top:30px;
}

/*-----------------------------------------------------*/
/*--content_section------------------------------------*/
/*-----------------------------------------------------
.content_section{
	background: #000; 

padding: 5% 8%;
margin: 0;
padding-top: 0;
text-align: center;
padding-bottom: 8%;
}
.content_section p{
color: rgba(0,0,0,0.8);
font-size: 18px;
padding: 15px 12px;
letter-spacing: 1px;
text-align: justify;
}
/*-----------------------------------------------------*/
/*--What I am doing now_section------------------------*/
/*-----------------------------------------------------*/
.dowhat_section{
background: #D56C2C; 
padding:  8%;
margin: 0;
padding-bottom: 4%;
}
.dowhat_section h1{
font-size: 60px;
font-weight: 700;
text-align: center;
padding: 15px 0;
margin: 0;
padding-top: 0;
margin-top: 0;
color: #000;
padding-bottom: 5%;
}
.dowhat_section .boxes{
background: #D56C2C; 
background: -webkit-linear-gradient(to left, #1F3044 , #ed8a63); 
background: linear-gradient(to left, #FB9039 , #845007);
margin: 10px 0;
padding: 0;
padding-top: 6%;
}
.boxes{
margin: 10px 0;
padding: 0;
}
.box-a{
padding: 0 10px;
margin: 10px 0;
}
.box-a i{
font-size: 30px;
color: rgba(0,0,0,0.8);
}
.box-a h3{
color: rgba(0,0,0,0.8);
text-transform: capitalize;
padding: 10px 0;
margin: 0;
font-size: 25px;
font-weight: 600;
}
.box-a p{
color: rgba(0,0,0,0.8);
font-size: 18px;
padding: 5px 0;
margin: 0;
text-align: left;
}
/*-----------------------------------------------------*/
/*--my experience-section-------------------------------*/
/*-----------------------------------------------------*/
.mywork-section{
background-color: #000C40;
background: -webkit-linear-gradient(to left, #0F2027 , #FB8122); 
background: linear-gradient(to right, #203A43 , #2C5364);
padding: 2% 8%;
margin: 0;
height: auto;
width: 100%;
}
.mywork-section h1{
text-align: center;
color: #ffffff;
font-size: 60px;
font-weight: 700;
padding:15px 0;
margin: 0;
}
.mywork-section ul{
padding: 0;
margin: 0;
text-align: center;
}
.mywork-section ul li{
display: inline-block;
padding: 15px 0;
margin: 0;
list-style-type: none;
} 
.mywork-section ul li a{
color: rgba(255,255,255,0.8);
text-transform: uppercase;
font-size: 18px;
margin: 0;
padding: 5px 20px;
text-decoration: none !important;
}
.box-b{
margin: 20px 10px;
padding: 0;
}
.box-b img{
width: 100%;
height: 250px;
}
.box-b h3{
color: #ffffff;
font-size: 20px;
padding:  0;
text-align: justify;
margin: 0;
padding-top: 5px;
text-transform: uppercase;
}
.box-b p{
font-size: 15px;
color: rgba(255,255,255,0.8);
padding-top: 0;
margin-top: 0;
}
.mywork-section ul li a{
text-decoration: none;
margin: 10px auto;
text-align: center;
display: block;
}
.mywork-section a span{
background-color: #F8E5E5;
color: #3778C2;
border:1x solid rgba(255,255,255,0.3);
padding: 10px 20px;	
font-size: 18px;
}
a.view-all{
display: block;
text-align: center;
margin: 5% 0;
}
/*-----------------------------------------------------*/
/*--Contact me-section----------------------------------*/
/*-----------------------------------------------------*/
.myprofile_section{
background: #2F4F4F; 
background: -webkit-linear-gradient(to left, #FAFAD2 , #FFEBCD); 
background: linear-gradient(to right, #2F4F4F , #FAFAD2);
padding: 6% 8%;
margin: 0;
}
.myprofile_section h1{
font-size: 60px;
font-weight: 700;
padding: 10px 0;
margin: 0;
color:  #000;
text-align: center;
}
.myprofile_section p{
text-align: center;
font-size: 18px;
color: rgba(0,0,0,0.8);
letter-spacing: 1px;
padding: 5px 3%;
margin: 0;
}

/*-----------------------------------------------------*/
/*--form-section------------------------------------*/
/*-----------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  user-select: none;
}
 
body {
  font-family: "Kavivanar", cursive;
  background: #c4e0e5;
}
 
.wrapper {
  margin: 100px auto 0;
  width: 100%;
  max-width: 680px;
  padding: 20px;
  box-sizing: border-box;
}
 
/* content */
.content {
  text-align: center;
}
 
.content h1 {
  letter-spacing: 1px;
}
 
 
/* form */
.form {
  width: 100%;
  margin: 25px 0;
}
 
.top-form,
.middle-form,
.bottom-form {
  width: 100%;
  min-height: 65px;
  margin: 10px 0;
}
 
.form input[type="text"],
.form textarea {
  border: 2px solid #fff;
  padding: 15px 5px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease;
}
 
.form input:focus,
.form textarea:focus {
  border-color: #4ca1af;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(76, 161, 175, 0.5);
}
 
.form .label {
  margin-bottom: 5px;
  text-transform: capitalize;
}
 
/* top-contact */
.top-form .inner-form {
  width: 29.9%;
  float: left;
  margin-right: 5%;
}
 
.top-form .inner-form:last-child {
  margin-right: 0;
}
 
 
/* middle-form */
.middle-form {
  clear: both;
}
 
/* bottom-form */
.bottom-form textarea {
  height: 120px;
}
 
.btn {
  background: #4ca1af;
  width: 200px;
  padding: 10px 0;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}
 
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Kavivanar", cursive;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Kavivanar", cursive;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Kavivanar", cursive;
}
 
@media screen and (max-width: 460px) {
  .wrapper {
    margin: 25px auto 0;
  }
  .top-form .inner-form {
    width: 100%;
    margin: 5px 0;
  }
  .top-form,
  .middle-form,
  .bottom-form {
    margin: 5px 0;
  }
  .form {
    margin-top: 10px;
  }
  .form input[type="text"],
  .form textarea {
     width: 100%;
     box-sizing: border-box;
  }
}
/*-----------------------------------------------------*/
/*--Check me on social-section-------------------------*/
/*-----------------------------------------------------*/
.test-section{
padding: 6% 8%;
margin: 0;
background: #4B5320; 
background: -webkit-linear-gradient(to left, #AD4328 , #114357); 
background: linear-gradient(to right, #FAD6A5 , #4B5320); 
text-align: center;
color: #ffffff;
}
.test-section h1{
font-size: 30px;
font-weight: 700;
padding: 10px 0;
margin: 0;
color:  #ffffff;
text-align: center;
text-transform: uppercase;
}
.test-section ul{
padding-top: 3%;
}
.test-section ul li{
list-style-type: none;
display: inline-block;
margin: 0 20px;
height: 60px;
width: 60px;
border:solid 2px #ffffff;
border-radius: 100%;
}
.test-section ul li a{
display: block;
text-align: center;
font-size: 23px;
color: #ffffff;
padding-top: 22%;
}
.test-section p{
font-size: 17px;
letter-spacing: 1px;
padding: 5px 3%;
margin: 0;
padding-top: 22px;
}
.test-section form {
padding: 30px 0;
}
/*-----------------------------------------------------*/
/*--socialicon-----------------------------------------*/
/*-----------------------------------------------------*/
.socialicon{
padding: 1% 8%;
margin: 0;
text-align: center;
}
.socialicon ul{
margin: 0;
padding: 0;
}
.socialicon ul li{
display: inline-block;
padding: 0 25px;	
}
.socialicon ul li a{
text-decoration: none;
font-size: 35px;
color: rgba(0,0,0,0.3);
}
/*-----------------------------------------------------*/
/*--Language and Tools Section-------------------------*/
/*-----------------------------------------------------*/
.Languages{
background: #000; 
background: -webkit-linear-gradient(to bottom, #114357);
background: linear-gradient(to top, #FAD6A5 , #4B5320);
padding:  0%;
margin: 0;
padding-bottom: 5%;
}
.Languages h2{
font-size: 40px;
font-weight: 700;
text-align: center;
padding: 0px 0;
margin: 0;
padding-top: 0;
margin-top: 0;
color: #000;
padding-bottom: 0%;
}

.Languages ul{
 list-style: disc outside none;
padding: 0;
margin: 0;
text-align: center;
}

.Languages ul li{
 list-style: disc outside none;
font-family: Verdana;
display: block;
padding: 10px 0;
margin: 0;
}
/*--------------loader------------------*/


